@charset "utf-8";

@media screen and (min-width: 600px) and (max-width: 900px){

    .oquefaco .conteudofaco .descricao{
        width: 55%;
    }
    

}

@media screen  and (min-width: 700px){

    main{
        width: 66%;
        margin: auto;
    }

    nav{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    nav ul{
        width: 70%;
    }
    
   

}

@media screen  and (min-width:901px){

    .oquefaco .conteudofaco .descricao{
        width: 50%;
    }
    main{
        width: 50%;
        margin: auto;
    }
    nav li{
        width: 13%;
       
    }

    }







