@charset "utf-8";

@media screen and (max-width: 700px){

    /* Diz respeito a todo o meu de navegação.*/

    nav ul{
        width: 100%;
        padding: 9px 0px;
    }

    nav li{
        width: 14%;
        font-size: 12px;
    }

    /* secão Dados pessoais da nossa página*/
    .quemsou .fundo{
        width: 90%;
       
    }
    .quemsou .fundo .ficha ul{
  
        margin: 30px 0px 0px 30px;
    }

    .quemsou .fundo .ficha{
        height: 180px;
       
    }
    .quemsou .fundo .ficha ul li{
        width: 200px;
        font-size: 12px;
    
    }
    .quemsou .fundo .foto{
        height: 180px;
       
    }
    
    .quemsou .fundo .foto img{
        transform: translate(50px, -10px);
    }
    
    /* secão o que faço*/

    .oquefaco .conteudofaco{
        width: 90%;
       
    }
    
    .oquefaco .conteudofaco .descricao{
        width: 80%;
       
    }
    /* secãop paixões*/

    .paixoes .slide{
        height: 80%;
        width: 100%;
    }
    
    .paixoes .slide swiper-container swiper-slide {
        text-align: center;
        font-size: 10px;
        
      }
    
      .paixoes .slide swiper-container swiper-slide .cards{
       height: 90%;
       width: 60%;
     }

     .paixoes .slide swiper-container swiper-slide .cards p{
        font-size: 12px;
     }








}




