
@charset "utf-8";

/*Importações */

/* Importação de fontes internas*/
@font-face {

    font-family: 'KOMIKJI';
    src: url('../fonte/KOMIKJI_.ttf') format('truetype');
}

@font-face {
    font-family:'HB';
    src: url('../fonte/HB.otf') format('opentype');
}


/*Concigurações gerais*/


:root{

    --cor1: #000000;
    --cor2: #e53939;
    --cor3: #ffffff;

    --fontmenu: 'HB', cursiva;
    --fontconteudo: 'KOMIKJI', cursiva;
    
}

*{
    margin: 0px;
    padding: 0px;
}

::-webkit-scrollbar{

    width: 0px;
    height: 0px;

}

h2.ladoesquerdo{
    float: left;
    margin-left: 30px;
}

h2.ladodireito{
    float: right;
    margin-right: 30px;
}

h2{
    color: var(--cor1);
    font-family: var(--fontmenu);
    font-weight: 500;
    border-radius: 30px;
    font-size: 1.2em;
    border: solid var(--cor1) 2px;
    width: 40%;
    margin-bottom: 20px;
    margin-top: 20px;
    text-align: center;
    padding: 5px;
    

}
.questao{
    width: 90%;
    margin: 0px auto 20px auto;
   
}

p{
    font-family: var(--fontconteudo);
    font-size: 0.9em;
    color: var(--cor1);
    text-align: center;
}

 li{
    font-family: var(--fontconteudo);
    font-size: 0.7;
 }

 a{
    text-decoration: none;
    color: var(--cor1);
 }

 /*Configuração para a div com imagem para os dispositivos móveis*/


/*  Essa configuração diz respeito as seções ou elemetos que necessitem que seus itens sejam alinhados ao centro, tanto na vertical como na horizontal. Em caso de mudanças sobre a disposição desses elemetos, será necessário retirar o elemento em questão dessa seleção.*/
nav ul, .quemsou, .oquefaco, .conteudofaco, .paixoes, swiper-slide, .cards, .cards p, .contato, .celular, footer, .rodape, .rodape p{
    display: flex;
    justify-content: center;
    align-items: center;
}
/*------------------------------------------------------------------------------------------------------*/
