
@charset "utf-8";


/*Importações */

/* Importação de fontes internas*/
@font-face {

    font-family: 'KOMIKJI';
    src: url('../fonte/KOMIKJI_.ttf') format('truetype');
}

@font-face {
    font-family:'HB';
    src: url('../fonte/HB.otf') format('opentype');
}



/*Concigurações gerais*/

::-webkit-scrollbar{
    width: 0px;
    height: 0px;
}
:root{

    --cor1: #000000;
    --cor2: #e53939;
    --cor3: #ffffff;

    --fontmenu: 'HB', cursiva;
    --fontconteudo: 'KOMIKJI', cursiva;
    
}
:host {
    --swiper-theme-color: #ff0097;
}


*{
    margin: 0px;
    padding: 0px;
}






h2.ladoesquerdo{

    float: left;
    margin-left: 30px;
}

h2.ladodireito{
    float: right;
    margin-right: 30px;
}

h2{
    color: var(--cor1);
    font-family: var(--fontmenu);
    font-weight: 100;
    border-radius: 30px;
    font-size: 1.2em;
    border: solid var(--cor1) 2px;
    width: 40%;
    margin-bottom: 20px;
    text-align: center;
    

}

p{
    font-family: var(--fontconteudo);
    font-size: 0.9em;
    color: var(--cor1);
    text-align: center;
}

 li{
    font-family: var(--fontconteudo);
    font-size: 0.7;
 }

 a{
    text-decoration: none;
 }









/*Configuração para a div com imagem para os dispositivos móveis*/



.imagemmenu{
    background-color: var(--cor2);
    height: 40px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
   
}






/* Diz respeito a todo o meu de navegação.*/
nav{
    padding: 5px 0px;
    height: 100px;
}

nav ul{
    width: 100%;
    background-color: var(--cor2);
    padding: 15px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav li:not(:last-child){
    margin-right: -30px;
}

nav li{
    background-color: var(--cor3);
    display: inline-block;
    width: 19%;
    border: solid var(--cor1) 2px;
    padding: 6px 8px;
    text-align: center;
    border-radius: 50%;
}

nav li:hover{
    background-color: var(--cor1);
    border: solid var(--cor3) 2px;
    transition: 1s;
}

nav .itensdecima{
    transform: translate(0px, -30px);
   
}

nav .itensdebaixo{
    transform: translate(0px, 30px);
  
}

nav a{
  
    text-decoration: none;
    color: var(--cor1);
    font-family: var(--fontconteudo);
  
}

nav .linksmenu a:hover{
    color: var(--cor3);
}


/* secão Dados pessoais da nossa página*/
.quemsou {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    margin-bottom: 50px;
}

.quemsou .fundo{
    background: black url('../imagens/raio.png') center center no-repeat scroll;
    background-size: cover;
    height: 400px;
    width: 80%;
   
}

.quemsou .fundo .ficha{
    background-color: var(--cor1);
    padding: 8px 0px 0px 0px;
    height: 220px;
    width: 35%;
    transform: translate(-39px, -19px);
}

.quemsou .fundo .ficha ul{
  
    margin: 10px 0px 0px 70px;
}

.quemsou .fundo .ficha ul li{

    color: var(--cor1);
    list-style: none;
    padding: 2px 0px;
    width: 300px;
    margin: 0px 0px 8px 0px;
    background-color: var(--cor3);
    border: solid var(--cor1) 2px;
    border-radius: 6px;
    text-align: center;

}

.quemsou .fundo .foto{
    height: 200px;
   
}

.quemsou .fundo .foto img{
    height: 250px;
    float: right;
    margin-right: 20px;
    transform: translate(0px, -10px);
}

/* secão o que faço*/
.oquefaco{
   
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.oquefaco .conteudofaco{
    background: black url('../imagens/balao.png') center center no-repeat scroll;
    background-size: cover;
    width: 80%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.oquefaco .conteudofaco .descricao{
    width: 60%;
    height: 200px;
    transform: translate( -10px, -20px);
    

}

/* secãop paixões*/


.paixoes{
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.paixoes .slide{
    position: relative;
    height: 80%;
    width: 100%;
}

.paixoes .slide swiper-container {
    width: 100%;
    height: 100%;
   
  }

.paixoes .slide swiper-container swiper-slide {
    text-align: center;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .paixoes .slide swiper-container swiper-slide .cards{
   display: flex;
   justify-content: center;
   align-items: center;
   height: 90%;
   width: 50%;
   border: dashed var(--cor1) 7px;
   background-size: cover;
   background-position: center center;
 }
  
 .card1{
    background-image: url(../imagens/raio.png);
 }

 .card2{
    background-image: url(../imagens/6.png);
 }

 .card3{
    background-image: url(../imagens/5.png);
 }

 .card4{
    background-image: url(../imagens/3.png);
 }

 .card5{
    background-image: url(../imagens/4.png);
 }

 .card6{
    background-image: url(../imagens/balao.png);
 }

 .card7{
    background-image: url(../imagens/9.png);
 }

 
 .paixoes .slide swiper-container swiper-slide .cards p{
    background-color: var(--cor1);
    color: var(--cor3);
    padding: 7px;
    font-size: 15px;
    width: 90%;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;

 }





 /* Temos aqui a seção motivação */

.motvacao{
    margin-top: 60px;
    width: 100%;
    height: 1020px;
    
   
 }

 .bloco1, .bloco2,  .bloco3, .bloco4{
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
 }
 
 .bloco3, .bloco4{
    width: 100%;
    height: 150px;
 }

 .cont, .cont2, .cont3{
    background-color: var(--cor1);
    width: 45%;
    height: 100%;
 }

 .cont2{
    width: 80%;
    height: 90px;
 }

 .cont3{
    width: 96%;
    height: 100%;
 }

.cont:not(:last-child), .cont2:not(:last-child){
    margin-right: 30px;
}

.bloquinho1, .bloquinho2, .bloquinho3, .bloquinho4, .bloquinho5, .bloquinho6, .bloquinho7{
    background: black url('../imagens/12.png') center center no-repeat scroll;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.bloquinho2{
    background-image: url(../imagens/13.png);
}

.bloquinho3, .bloquinho7, .bloquinho4{
    background-image: none;
    background-color: var(--cor2);
}

.bloquinho3{
    background-image: url(../imagens/16.png);
}

.bloquinho6{
    background-image: url(../imagens/14.png);

}

.bloquinho5{
    background-image: url(../imagens/15.png);

}

.motvacao p{
    color: var(--cor3);
    background-color: var(--cor2);
    width: 60%;
    padding: 10px;
    height: 40%;
    border: dashed var(--cor3) 2px;

}

.motvacao .bloco3  p, .bloquinho4 p{
    border: none;
}

/* Temos aqui a seção contato */


.contato{
    margin: 50px 0px 30px 0px;
    width: 100%;
    height: 500px;
    background: black url('../imagens/9.png') center center no-repeat scroll;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contato .celular{
    width: 50%;
    height: 90%;
    background: rgba(0, 0, 0, 0) url('../imagens/telefono.png') center center no-repeat scroll;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;

}

.contato .celular iframe{
    width: 153px;
    height: 300px;
    background-color: var(--cor2);
}

/* Rodapé do nosso site*/

footer{
 
    height: 100px;
    width: 100%;
    font-family: var(--fontmenu);
    background-color: var(--cor1); 
    display: flex;
    justify-content: center;
    align-items: center;
  
  
  
}

.rodape{

    width: 35%;
    height: 100%;
    border: dashed var(--cor3) 2px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.rodape p{

    color: var(--cor3);
    height: 3%;
    padding: 40px;
    font-size: 0.7em;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.rodape p  a{
    margin-left: 20px;
    font-size: 13px;
    color: var(--cor2);
    
}
.rodape p i{
    font-size: 30px;
}